
body{
  background-color: #004537;
}
h2{
  color: #ABE20B;
  font-family: Impact;
  letter-spacing: 5px;
  text-align: center;
  font-size: 45px;
}
p{
  font-family: Helvetica;
  color: #ABE29A;
}
input{
  background-color: #ABE20B;
}
#wrongRed{
  color:#BD5E7C;
}
#rightGreen{
  color:#ABE20B;
